#tweets_new, #tweets_create {
  .main {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .tweet-form {
      width: 100%;
      margin-right: 10px;
      margin-left: 10px;

      .tweet-text-area {
        height: 150px;
      }

      .button {
        margin-top: 20px;
      }
    }
  }
}
